{% block aside %}
    <aside>
        <!--<hr>
        <div><h3>{{ this.author }}</h3>
        <a class="button-about" href="/a-propos">&Agrave; propos <i class="fa fa-angle-right fa-lg"></i></a>-->
        </div>
        <hr>
        <h3>Ailleurs</h3>
        <div class="social">
            {% for social_url, social_icon in [
            ['https://twitter.com/Krands_', 'twitter'],
            ['https://www.instagram.com/krands_/', 'instagram'],
            ['https://500px.com/krands', '500px'],
            ['https://www.behance.net/krands', 'behance'],
            ['https://github.com/Krands', 'github'],
            ['https://be.linkedin.com/in/nicolas-de-scheerder-2bb99458', 'linkedin']
            ] %}
                <a class="button-social" href="{{ social_url }}" target="_blank"><i class="fa fa-{{ social_icon }} fa-lg"></i></a>
            {% endfor %}
        </div>

        {% set article = this.page %}
        {% if article %}
            <hr>
            <div>
                <h3>Cat&eacute;gories</h3>
                <div class="categories-aside">
                {% for category, category_url in [
                    ['Journal', '#'],
                    ['Photographie', '#'],
                    ['Code', '#']
                ] %}
                    <a class="button-cat" href="{{ category_url }}">{{ category }}</a>
                {% endfor %}
                </div>
            </div>
        {% endif %}
    </aside>
{% endblock %}
