<form method="post">
     <div>
        <label><b>Pourquoi me contactez vous ?</b></label>
        <select>
            <option value="null">Sélectionnez</option>
            <option>Vous avez pris une photo de moi</option>
            <option>Passer un petit coucou</option>
            <option>Autre chose :</option>
        </select>
    </div>
    <div>
        <label><b>Votre nom</b> (peut être un pseudo) :</label>
        <input type="text" placeholder="votre nom">
    </div>
    <div>
        <label><b>Votre courriel</b> (utilisé pour l'échange mail) :</label>
        <input type="text" placeholder="adresse mail">
    </div>
    <div>
        <label><b>Que dois-je faire avec cette photo ?</b></label>
        <div>
            <input type="radio" value="envoyer" name="envoyer"><label for="">envoyer</label>
            <input type="radio" value="supprimer" name="supprimer"><label for="supprimer">supprimer</label>
        </div>
    </div>
    <textarea></textarea>
    <br>
    <input type="submit" value="Envoyer" role="button">
</form>