{% block navigation %}
    <nav {% if (this._model == 'page') or (this._model == 'article') or (this._model =='about')  %} class="blue-navbar" {% endif %}>
        <div>
            <a href="/">
                <h1>Krands/</h1>
            </a>
        </div>
        <div role="navigation">
        {% for url, title in [
        ['/blog','Blog']
        ] %}
            <a href="{{ url }}" class="{% if this._path  == '/' %} active {% endif %}">{{ title }}</a>
        {% endfor %}
        </div>
    </nav>
{% endblock %}
