/* ----- Basic styles ----- */
// TODO : Trier les blocs selon les pages
// Styles généraux - General styles
*, *:before, *:after {
    box-sizing: border-box;
}

// Makes a yellow background on selected texts
*::selection {
    background-color: $accent;
    color: $typo;
}
*::-moz-selection {
    background-color: $accent;
    color: $typo;
}

body {
    font: {
        family: sans-serif;
        size: 16px;
    };
    text-rendering: optimizeLegibility;
    background: {
        color: $light-bg;
    };
    padding: 0;
    margin: 0;
    transform: translateY();
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    margin: 4rem 8rem;
    & hr {
        width: 100%;
        border: solid 1px $accent;
        margin: 1rem 0;
    }
}

header {
    &.cover {
        background-color: $brand;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;
        min-height: 36rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        overflow: hidden;
        & div.punchline,
        & div.first-post,
        & div.first-project {
            margin-left: 8rem;
        }
        & > div.punchline > h1 {
            font: {
                weight: 700;
                size: 4.2rem;
            }
            color: white;
            padding-bottom: 4rem;
            align-self: stretch;
            margin-top: 2rem;
            &:before {
                content: "Vu !";
                border-bottom: solid $accent 5px;
                color: transparent;
                margin-right: -7rem;
            }
        }
        & h2 {
            font: {
                size: 3rem;
                weight: 700;
            }
            color: white;
            line-height: 1.1;
            padding-bottom: 0.8rem;
            margin-bottom: 0.4rem;
        }
        & > div > p {
            font: {
                family: 'Catamaran', sans-serif;
                size: 6rem;
                weight: 100;
            }
            color: white;
            line-height: 0.8;
            margin-top: 0;
        }
        & div.first-post,
        & div.first-project {
            @include col(1,2);
            flex-flow: column nowrap;
            margin-top: auto;
            margin-left: 8rem;
            margin-bottom: auto;
            & p:first-of-type {
                font: {
                    family: 'Lato', sans-serif;
                    weight: 300;
                    size: 1.3rem;
                }
                line-height: 1.5;
                margin-top: 1rem;
                margin-left: 0;
                margin-bottom: 1.4rem;
            }
            & p.first-post-meta,
            & p.first-project-meta {
                font: {
                    family: 'Catamaran', sans-serif;
                    weight: 300;
                    size: 1.5rem;
                }
                color: #fff;
                margin: 0.8rem 0;
                padding: 0;
                &:before {
                    content: "lis cet article";
                    color: transparent;
                    padding-top: 1rem;
                    border-top: $acc-clr-3 solid 4px;
                    margin-right: -7.92rem;
                }
            }
        }
    }
    &.simple-head {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: darken($light-bg, 8%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;
        & div.cover-text {
            @include col(4,6);
            display: flex;
            align-items: center;
            flex-flow: column nowrap;
            margin: 4rem 0;
            & p.cover-text-meta_details {
                @include col(1,1);
                display: flex;
                align-items: baseline;
                justify-content: center;
                align-content: center;
                & span {
                    font:{
                        family: 'Catamaran', sans-serif;
                        weight: 400;
                        size: 1.6rem;
                    }
                    color:$acc-clr-2;
                    padding: 0 0.8rem;
                    margin: 1.2rem 0.8rem;
                    &:first-of-type {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

section {
    &.all_listings-wrapper {
        @include col(1,1);
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
    &.wording-content {
        @include col(2,3);
        justify-content: space-between;
        flex-flow: column;
        align-items: center;
        & article {
            flex-flow: column wrap;
            justify-content: space-around;
        }
    }
    // Articles avec le résumé en accueil
    &.blogpost {
        @include col(1,1);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin: 4rem 0;
        & div.post-image-container {
            @include col(1,2);
            background-color: #272637;
            height: 30rem;
            padding: 0;
            & img {
                height: 30rem;
                width: 100%;
                object-fit: cover;
            }
        }
        & div.post-info-container {
            @include col(1,2);
            height: 30rem;
            flex-flow: column nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            align-self: center;
            background-color: #fff;
            padding: 3rem;
            margin: auto 0;
            & a.post-title {
                padding: 0;
                transition: background-color 0.1s ease-in;
                text-align: center;
                &:hover{
                    background-color: $accent;
                }
                &:hover + p.post-meta {
                    border-top: 2px transparent solid;
                }
            }
            & p.post-meta {
                font: {
                    family: 'Catamaran', sans-serif;
                    weight: 300;
                    size: 1.5rem;
                }
                color: $acc-clr-2;
                padding-top: 0.8rem;
                border-top: 2px $accent solid;
            }
            // Le résumé
            & p:nth-of-type(2) {
                font-size: 1.35rem;
                font-weight: 300;
                line-height: 1.4;
                text-align: center;
                padding: 0.1rem 0;
                margin: 0.7rem 0;
            }
            & a.btn-read {
                @extend a.button;
                border: solid 2px $typo;
                margin-top: 1.5rem;
                &:hover,
                &:focus {
                    color: $typo;
                    background-color: $accent;
                    border: solid 2px $accent;
                }
                & i {
                    margin-left: 0.5rem;
                }
            }
        }
    }
    // Projets
    &.project {
        @include col(1,3);
        background-color: $light-bg;
        min-height: 20rem;
        flex-flow: column nowrap;
        //align-content: flex-end;
        padding: 0;
        & .project-image-container {
            @include col(3,3);
            display: flex;
            flex-flow: column nowrap;
            //align-items: flex-end;
            padding: 0;
            & img {
                height: 28rem;
                width: 100%;
                object-fit: cover;
            }
        }
        & .project-info-container {
            @include col(3,3);
            display: flex;
            flex-flow: column nowrap;
            padding: 1rem;
            & p.project-meta {
                font: {
                    family: 'Catamaran', sans-serif;
                    weight: 300;
                    size: 1.4rem;
                }
                color: $acc-clr-2;
                padding: 0;
                margin-top: 0.3rem;
            }
            & h4 {
                font-size: 2rem;
                font-weight: 700;
                &:before {
                    margin-right: -4.8rem;
                }
            }
            & a i {
                margin-left: 0.5rem;
            }
        }
    }
    // Dans le bas de la page, dans la page "projet"
    &.project-album {
        @include col(2,3);
        flex-flow: column nowrap;
        & hr {
            display: inline-block;
            width: 33%;
            border: 1px solid $acc-clr-3;
            margin: 1.6rem 0;
        }
        & h3 {
            margin-bottom: 1.8rem;
        }
        & div.project-gallery {
            @include col(1,1);
            flex-flow: row wrap;
            //justify-content: space-around;
            & div.project-album-image {
                @include col(1,3);
                display: inline-flex;
                height: 10rem;
                overflow: hidden;
                margin-bottom: 1rem;
                & img {
                    display: block;
                    object: {
                        fit: cover;
                        //position: 50% 50%;
                    }
                    height: 10rem;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

// It's the same no matter where it's called
article{
    @include col(10,12);
    display: inline-flex;
    flex-flow: column nowrap;
    background-color: $light-bg;
    margin-bottom: 3rem;
    & p img,
    & img {
        height: 28rem;
        width: 100%;
        object-fit: cover;
        margin: 1.5rem 0;
    }
}

aside {
    @include col(10,12);
    display: inline-flex;
    flex-flow: column nowrap;
    hr {
        @include col(1,2);
        border: solid 0.05rem $acc-clr-3;
        margin-left: 0;
        margin-bottom: 2rem;
    }
    & .button {
        display: inline-flex;
        align-items: center;
        font-size: 1.3rem;
        padding: 1.1rem;
    }
    & .button-about {
        @extend .button;
        & i {
            margin-left: 0.5rem;
        }
    }
    & .social {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 1rem;
        & .button-social {
            @extend .button;
            @include col(1,6);
            justify-content: center;
            & i {
                padding: 1rem;
            }
        }
    }
    & div.categories-aside {
        display: flex;
        flex-flow: row wrap;
        & .button-cat {
            @extend .button;
            @include col(1,3);
            display: inline-flex;
            font: {
                size: 1.5rem;
            }
            justify-content: center;
            margin: 0;
        }
    }
}

form {
    @include col(10,12);
    display: flex;
    flex-flow: column nowrap;
    margin: 3rem 0;
    & div {
        @include col(1, 1);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 0.4rem 0;
        & label {
            font-family: 'Lato', sans-serif;
            font-size: 1.1rem;
        }
        & input[type=text], select {
            @include col(1,3);
            padding: 0.4rem;
            border: solid 1px #CCC;
        }
        & div {
            @include col(1,3);
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: baseline;
            & input[type=radio] {
                margin: 0 0.5rem;
            }
        }
    }
    & textarea {
        font-family: 'Lato', sans-serif;
        min-height: 12rem;
        padding: 0.5rem;
        border: solid 1px #CCC;
        margin: 0.5rem;
    }
    & input[type=submit] {
        @include col(1,6);
        font-family: 'Lato', sans-serif;
        border: solid 2px $typo;
        margin: 0.5rem;
        padding: 0.5rem;
        transition: background-color 0.1s ease-in;
        &:hover,
        &:focus {
            color: $typo;
            background-color: $accent;
            border: solid 2px $accent;
        }
    }
}