// Variables pour pouvoir modifier les breakpoints en 3 lignes
$break-small: 40em;     // 640px
$break-medium: 64em;    // 1024px
$break-large: 90em;     // 1440px

/* ----- Responsive ----- */
// --- Typographie
h1 {
    @media screen and (max-width: $break-large) {
        font-size: 2.8rem;
    }
    @media screen and (max-width: $break-medium) and (max-width: $break-small) {
        font-size: 2.4rem;
    }

}

h2 {
    @media screen and (max-width: $break-large) {
        font-size: 2.6rem;
    }
    @media screen and (max-width: $break-medium) {
        font-size: 2.4rem;
    }
    @media screen and (max-width: $break-small) {
        font-size: 2.2rem;
    }

}

h3 {
    @media screen and (max-width: $break-large) {
        font-size: 2.2rem;
    }
    @media screen and (max-width: $break-medium) {
        font-size: 1.6rem;
    }
    @media screen and (max-width: $break-small) {
        font-size: 1.8rem;
    }
}

h4 {
    @media screen and (max-width: $break-large) {
        font-size: 2rem;
        &:before {
            margin-right: -4.6rem;
        }
    }
    @media screen and (max-width: $break-medium) {
        font-size: 1.6rem;
        &:before {
            margin-right: -4.4rem;
        }
    }
    @media screen and (max-width: $break-small) {
        font-size: 1.8rem;
        &:before {
            margin-right: -4.4rem;
        }
    }
}

h5 {
    @media screen and (max-width: $break-large){
        font-size: 1.8rem;
        &:before {
            content: "coolStoryBro";
            color: transparent;
            border-bottom: 2px $acc-clr-2 solid;
            margin-right: -10rem;
        }
    }
    @media screen and (max-width: $break-medium) and (max-width: $break-small ){
        font-size: 1.8rem;
        &:before {
            content: "coolStoryBro";
            color: transparent;
            border-bottom: 2px $acc-clr-2 solid;
            margin-right: -9.7rem;
        }
    }

}

p {
    @media screen and (max-width: $break-large) {
        font-size: 1.3rem;
    }
}

// --- Blocs
main {
    @media screen and (max-width: $break-large) {
        margin: 2rem 4rem;
    }
    @media screen and (max-width: $break-medium) {
        margin: 2rem 2rem;
    }
    @media screen and (max-width: $break-small) {
       margin: 2rem 0;
    }
}

nav {
    @media screen and (max-width: $break-large) {
        padding: {
            top: 1.5rem;
            left: 6rem;
            right: 6rem;
            bottom: 0;
        }
    }
    @media screen and (max-width: $break-medium) {
        padding: {
            top: 1.5rem;
            left: 4rem;
            right: 4rem;
            bottom: 0;
        }
    }
    @media screen and (max-width: $break-small) {
        padding: {
            top: 1.5rem;
            left: 2rem;
            right: 2rem;
            bottom: 0;
        }
    }
}

header {
    @media screen and (max-width: $break-large) {
        &.cover {
            & h2 {
                font-size: 2.4rem;
            }
            height: 34rem;
            & div.punchline,
            & div.first-post,
            & div.first-project {
                margin-left: 6rem;
            }
            & > div.punchline > h1 {
                font-size: 3.6rem;
                &:before {
                    margin-right: -6.2rem;
                }
            }
            & > div.punchline > p {
                font-size: 5.2rem;
            }
            & div.first-post,
            & div.first-project {
                @include col(2,3);
                margin-top: 1rem;
                & p:first-of-type {
                    font-size: 1.2rem;
                }
                & p.first-post-meta,
                & p.first-project-meta {
                    font-size: 1.3rem;
                    margin: 0.5rem 0;
                    &:before {
                        margin-right: -6.7rem;
                    }
                }
            }
        }
        &.simple-head {
            & div.cover-text {
                & p.cover-text-meta_details {
                    padding: 0;
                    & span {
                        font-size: 1.4rem;
                        padding: 0 0.4rem;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $break-medium) {
        &.cover {
            & h2 {
                font-size: 2.2rem;
            }
            & div.punchline,
            & div.first-post,
            & div.first-project {
                margin-left: 4rem;
            }
            & > div.punchline > h1 {
                font-size: 3.2rem;
                &:before {
                    margin-right: -5.5rem;
                }
            }
            & > div.punchline > p {
                font-size: 5rem;
            }
            & div.first-post,
            & div.first-project {
                @include col(2,3);
                margin-top: 1rem;
                & p:first-of-type {
                    font-size: 1.1rem;
                }
                & p.first-post-meta,
                & p.first-project-meta {
                    font-size: 1.1rem;
                    margin: 0.5rem 0;
                    &:before {
                        margin-right: -5.8rem;
                    }
                }
            }
        }
        &.simple-head {
            & div.cover-text {
                @include col(3,4);
                margin-left: 4rem;
                & p.cover-text-meta_details {
                    padding: 0;
                    & span {
                        font-size: 1.4rem;
                        padding: 0 0.2rem;
                        margin: 0.3rem 0;
                        &:nth-of-type(even){
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: $break-small) {
        &.cover {
            & h2 {
                font-size: 2.2rem;
            }
            height: 66vh;
            & div.punchline,
            & div.first-post,
            & div.first-project {
                margin-left: 2rem;
            }
            & > div.punchline > h1 {
                font-size: 2.8rem;
                &:before {
                    margin-right: -4.8rem;
                }
            }
            & > div.punchline > p {
                font-size: 4rem;
            }
            & div.first-post,
            & div.first-project {
                @include col(5,6);
                margin-top: 1rem;
                margin-right: 2rem;
                & p:first-of-type {
                    font-size: 1.3rem;
                    margin-right: 4rem;
                }
                & p.first-post-meta,
                & p.first-project-meta {
                    font-size: 1.3rem;
                    margin: 0.5rem 0;
                    &:before {
                        margin-right: -6.6rem;
                    }
                }
            }
        }
        &.simple-head {
            & div.cover-text {
                @include col(4,4);
                align-items: flex-start;
                padding-left: 2rem;
                margin-left: 0;
                & p.cover-text-meta_details {
                    flex-flow: column nowrap;
                    & span {
                        font-size: 1.3rem;
                        padding: 0;
                    }
                }
            }
            & h2 {
                line-height: 1.2;
                margin-bottom: 2rem;
            }
        }
    }
}

section {
    @media screen and (max-width: $break-large) {
        &.wording-content {
            @include col(6,6);
        }
        &.blogpost {
            padding: 1.5rem;
            & div.post-image-container {
                @include col(3,7);
                padding: 0;
            }
            & div.post-info-container {
                @include col(4,7);
                padding: 0.5rem 1.2rem;
                height: 30rem;
                & p:nth-of-type(2) {
                    font-size: 1.2rem;
                    line-height: 1.375;
                }
            }
        }
        &.project {
            @include col(1,2);
        }
    }
    @media screen and (max-width: $break-medium) {
        &.wording-content {
            flex-flow: column nowrap;
            //padding: 2rem;
        }
        &.blogpost {
            padding: 1.5rem;
            flex-flow: column wrap;
            align-items: center;
            align-content: center;
            justify-content: center;
            & div.post-image-container {
                @include col(7,7);
                height: 24rem;
                padding: 0;
                & img {
                    height: 24rem;
                }
            }
            & div.post-info-container {
                @include col(8,8);
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;
                padding: 0.5rem 1.2rem;
                margin-top: -4.25rem;
                margin-left: 0;
                margin-right: 0;
                height: auto;
                & p:nth-of-type(2) {
                    text-align: left;
                    font-size: 1.2rem;
                    line-height: 1.375;
                }
            }
        }
        &.project {
            @include col(1,1);
        }
    }
    @media screen and (max-width: $break-small) {
        &.wording-content {
            @include col(1,1);
            flex-flow: column nowrap;
            padding: 0;
        }
        &.blogpost {
            padding: 1.5rem;
            flex-flow: column wrap;
            align-items: center;
            align-content: center;
            justify-content: center;
            & div.post-image-container {
                @include col(7,7);
                height: 24rem;
                padding: 0;
                & img {
                    height: 24rem;
                }
            }
            & div.post-image-container {
                @include col(2,2);
            }
            & div.post-info-container {
                @include col(7,7);
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;
                padding: 1.2rem;
                margin-top: -4.25rem;
                margin-left: 0;
                margin-right: 0;
                & a.post-title {
                    text-align: left;
                }
                & p:nth-of-type(2) {
                    text-align: left;
                    font-size: 1.4rem;
                    line-height: 1.375;
                }
            }
        }
        &.project {
            @include col(1,1);
        }
    }
}

article {
    @media screen and (max-width: $break-large) {
        & img {
            height: 24rem;
        }
    }
    @media screen and (max-width: $break-medium) {
        & img {
            height: 20rem;
        }
    }
    @media screen and (max-width: $break-small) {
        padding: 0;
        & p {
            font-size: 1.35rem;
            font-weight: 300;
            line-height: 1.6;
        }
        & img {
            height: 16rem;
        }
    }
}

footer {
    @media screen and (max-width: $break-large) {
        padding: 1.4rem 6rem;
    }
    @media screen and (max-width: $break-medium) {
        flex-flow: column-reverse;
        padding: 1.6rem 4rem;
        & div:first-of-type {
            margin-top: 1.8rem;
        }
        & div:last-of-type {
            flex-flow: column nowrap;
        }
    }
    @media screen and (max-width: $break-small) {
        padding: 0;
        border: none;
        & div:first-of-type {
            margin-bottom: 1rem;
        }
        & div:last-of-type {
            flex-flow: column wrap;
            width: 100%;
            & a {
                display: block;
                font-size: 1.5rem;
                padding: 1rem;
            }
        }
    }
}

form {
    @media screen and (max-width: $break-medium) {
        @include col(12,12);
        margin: 3rem 0;
        & div {
            @include col(1, 1);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0.4rem 0;
            & label {
                font-family: 'Lato', sans-serif;
                font-size: 1.1rem;
                margin: 0.5rem 0;
            }
            & input[type=text], select {
                @include col(3,3);
                padding: 0.4rem;
                border: solid 1px #CCC;
            }
            & div {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                align-items: baseline;
                & input[type=radio] {
                    margin: 0 0.5rem;
                }
            }
            &:not(:last-of-type) {
                flex-flow: column nowrap;
                & div {
                    @include col(3,3);
                }
            }
        }
        & input[type=submit] {
            @include col(2,6);
        }
    }
    @media screen and (max-width: $break-medium) {
        @include col(10,12);
        margin: 3rem 0;
        & div {
            @include col(1, 1);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-flow: column nowrap;
            margin: 0.4rem 0;
            & label {
                font-family: 'Lato', sans-serif;
                font-size: 1.2rem;
                margin: 0.5rem 0;
            }
            & input[type=text], select {
                @include col(3,3);
                padding: 0.4rem;
                border: solid 1px #CCC;
            }
            & div {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: baseline;
                & input[type=radio] {
                    margin: 0 0.5rem;
                }
            }
        }
        & input[type=submit] {
            @include col(2,6);
            font-size: 1.3rem;
            padding: 0.8rem;
        }
    }
}
