/* ----- Typography styles ----- */
// ----- Importing Fonts
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Inconsolata|Lato:300,300i,400,400i,700,700i&subset=latin-ext');

// ----- General font styles
// --- Titles
h1 {
  font: {
    family: 'Catamaran', sans-serif;
    size: 3.2rem;
    weight: 800;
  }
  padding: 0;
  margin: 0;
}

h2 {
    font: {
        family: 'Catamaran', sans-serif;
        size: 2.8rem;
        weight: 400;
    }
    margin: 1rem 0;
}

h3 {
    font: {
    family: 'Lato', sans-serif;
    size: 2.2rem;
    weight: 400;
    style: italic;
    }
    margin: {
        top: 0.5rem;
        left: 0;
        right: 0;
        bottom: 0.8rem;
    }
}

// Blog titles!
h4 {
    display: inline-block;
    font: {
        family: 'Catamaran', sans-serif;
        size: 2.2rem;
        weight: 500;
    }
    line-height: 1.2;
    padding: 0.7rem 0;
    margin: 0;
}

h5 {
    font: {
        family: 'Catamaran', sans-serif;
        size: 2rem;
        weight: 500;
    }
    padding: 0.3rem 0;
    margin: 0.5rem 0;
    &:before {
        content: "coolStoryBro";
        color: transparent;
        border-bottom: 2px $acc-clr-2 solid;
        margin-right: -11rem;
    }
}

// --- Labor
// - Blocks
p {
    font: {
        family: 'Lato', sans-serif;
        size: 1.32rem;
        weight: 400;
    }
    line-height: 1.5;
    color: $typo;
    padding-bottom: 1.5rem;
    margin: 0;
    & a {
        color: $acc-clr-1;
    }
}

ul {
    font: {
        family: 'Lato', sans-serif;
        size: 1.32rem;
        weight: 400;
    }
    line-height: 1.4;
    padding: 0;
    margin-left: 4rem;
}


// - Inline
a, label {
    text-decoration: none;
    color: $typo;
    &.button {
        display: inline-flex;
        align-items: center;
        color: #000;
        font: {
            family: 'Catamaran', sans-serif;
            weight: 400;
            size: 1.3rem;
        }
        padding: 0.5rem 0.8rem;
        margin: 0.5rem 0;
        transition: background-color 0.1s ease-in,
                    padding 0.1s ease-in;
        &:hover {
            background-color: darken($light-bg, 5%);
        }
        &:active {
            padding: 0.3rem 0.6rem;
        }
    }
    &.cover-button {
        font: {
            family: 'Catamaran', sans-serif;
            weight: 300;
            size: 1.2rem;
        }
        display: inline-block;
        padding: 0.8rem;
        border: 2px solid white;
        color: white;
        margin: 2rem 0;
        transition: background-color 0.1s ease-in;
        &:hover {
            border: 2px solid $accent;
            background-color: white;
            color: $brand;
        }
    }
    &#lektor-edit-link{
        display: none;
    }
}

b, strong {
    font-weight: 700;
}

// Code!
kbd, code {
  font: {
    family: 'Inconsolata', monospace;
  }
    background-color: #e1e1e1;
}

// Quotes!
blockquote {
    border-left: 4px solid $acc-clr-2;
    padding: {
        top: 1.5rem;
        left: 4rem;
    }
    margin: {
        left: 0;
        //right: -4rem;
    }
    & p {
        font: {
            size: 1.8rem;
            style: italic;
        }
        line-height: 1.4;
    }
}
