// Couleurs
$brand: rgba(39, 38, 55, 255);
$accent: rgba(225, 206, 122, 255);
$typo: rgba(5, 5, 5, 255);
$light-bg: rgba(250, 250, 250, 255);

$acc-clr-1: rgba(55, 117, 130, 255);
$acc-clr-2: rgba(199, 81, 70, 255);
$acc-clr-3: rgba(225, 166, 102, 255);
