{% macro render_projects (project, from_index=false) %}
    {% set images = project.attachments.images.limit(1) %}
    <section class="project">
        <div class="project-image-container">
            {% for image in images %}
                <img src="{{ image|url }}">
            {% endfor %}
        </div>
        <div class="project-info-container">
            <a class="project-title" href="{{ project|url }}"><h4>{{ project.title }}</h4></a>
            <p class="project-meta">
                <span><b>Publié :</b> {{ project.pub_date }}</span>
            </p>
            <div>
                <a href="{{ project|url }}" class="button btn-read">Voir <i class="fa fa-angle-right"></i></a>
                <!--<a href="{{ project|url }}" class="button">Partager <i class="fa fa-share-alt"></i></a>-->
            </div>
        </div>
    </section>
{% endmacro %}
