footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    padding: 1.4rem 8rem;
    background-color: $brand;
    border-top: solid $brand 5px;
    & div:first-of-type {
        & span {
            font: {
                family: 'Catamaran', sans-serif;
                weight: 300;
                size: 1.4rem;
            }
            color: white;
        }
    }
    & div:last-of-type {
        flex-flow: row nowrap;
    }
    & div:last-of-type a {
        font: {
            family: 'Catamaran', sans-serif;
            weight: 400;
            size: 1.4rem;
        }
        text-align: center;
        color: white;
        padding: 1.4rem;
        margin: 0;
        border-top: 5px transparent solid;
        transition: background-color 0.1s ease-in,
                    border-top 0.1s ease-in;
        &:hover{
            border-top: 5px $accent solid;
            background-color: white;
            color: $typo;
        }
        & > i {
            color: $accent;
            margin-right: 0.5rem;
        }
        &:first-child i {
            color: $acc-clr-2;
        }
    }
}
