nav {
    &.blue-navbar {
        background-color: $brand;
    }
    @include col(3,3);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: {
        top: 1.5rem;
        left: 8rem;
        right: 8rem;
        bottom: 0;
    }
    & div:first-child h1 {
        font: {
            weight: 100;
            size: 2.4rem;
        }
        color: white;
        line-height: 1;
        border-bottom: 5px transparent solid;
        padding: {
            top: 0%;
            left: 0;
            right: 0.45rem;
            bottom: 1.5rem;
        }
        margin: 0;
        transition: color 0.1s ease-in,
                    border-bottom 0.1s ease-in;
        &:hover{
            border-bottom: 5px $accent solid;
            //background-color: $accent;
            color: $accent;
            transition: color 0.1s ease-in;
            &::after {
                content: "home";
                display: inline-block;
                font: {
                    weight: 100;
                    size: 1.8rem;
                }
                padding-left: 0.3rem;
            }
        }
    }
    & div:last-child a {
        font: {
            family: 'Catamaran', sans-serif;
            weight: 400;
            size: 1.45rem;
        }
        text-align: center;
        color: white;
        padding: 1.5rem;
        margin: 0;
        border-bottom: 5px transparent solid;
        transition: background-color 0.1s ease-in,
                    border-bottom 0.1s ease-in;
        &:hover{
            border-bottom: 5px $accent solid;
            background-color: white;
            color: $typo;
        }
    }
}
