{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block cover %}
{% for post in this.pagination.items.limit(1) %}
{% set images = post.attachments.images.limit(1) %}
    {% for image in images %}
    <header class="cover" style="background-image: url({{ image|url }});">
    {% else %}
    <header class="cover" style="background-image: none;">
    {% endfor %}
        {% include "partials/navigation.html" %}
        <div class="first-post">
            <a href="{{ post|url }}"><h2>{{ post.title }}</h2></a>
            {{ post.excerpt }}
            <p class="first-post-meta">
                <span><b>Publi&eacute; le</b> {{ post.pub_date|dateformat('medium') }}</span>
                {% if post.tags %}
                /
                <span class="tag">{{ post.tags }}</span>
                {% endif %}
            </p>
            <div>
                <a href="{{ post|url }}" class="cover-button" role="button">Lire l'article <i class="fa fa-angle-right fa-lg"></i></a>
            </div>
        </div>
    </header>
{% endfor %}
{% endblock %}

{% block body %}
    <section class="all_listings-wrapper">
        {% from "macros/blog.html" import render_blog_post %}
        {% for post in this.pagination.items.offset(1).order_by('-pub_date') %}
            {{ render_blog_post(post, from_index=false) }}
        {% endfor %}
    </section>
{% endblock %}
