{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block cover %}
    {% set images = this.attachments.images %}
    {% for image in images %}
    <header class="cover" style="background-image: url({{ image|url }});">
    {% endfor  %}
        {% include "partials/navigation.html" %}
        <div class="punchline">
            <h1>{{ this.name }}</h1>
           {{ this.headline }}
        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="all_listings-wrapper">
        <section id="home-blogposts">
            {% set posts = site.query('/blog') %}
            {% from "macros/blog.html" import render_blog_post %}
            {% for post in posts.limit(3).order_by('-pub_date') %}
                {{ render_blog_post(post, from_index=false) }}
            {% endfor %}
        </section>
        <hr class="home-separator">
        <section id="home-portfolio">
            {% set projects = site.query('/projets') %}
            {% from "macros/projets.html" import render_projects %}
            {% for project in projects.limit(3).order_by('-pub-date') %}
                {{ render_projects(project, from_index=true) }}
            {% endfor %}
        </section>
   </section>
{% endblock %}
