{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block cover %}
    <header class="simple-head">
        {% include "partials/navigation.html" %}
        <div class="cover-text">
            <h2>{{ this.title }}</h2>
            <p class="cover-text-meta_details">
                <span><b>Type de projet :</b> {{ this.type }}</span> /
                {% if this.date %}
                    <span><b>Date :</b> {{ this.date }}</span> /
                {% endif %}
                <span><b>Date de publication :</b> {{ this.pub_date }}</span>
            </p>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="wording-content">
        <article>
            {{ this.body }}
            {% if images in images %}
                <img src="{{ attachment }}">
            {% endif %}
        </article>
        {% include 'partials/aside.html' %}
    </section>
    <!-- TODO : Convertir la partie "album" en macro, pour l'appeler que si il y a des 'attachments' -->
    <!--<section class="project-album">
        <hr>
        <h3>Album</h3>
        <div class="project-gallery">
        {% for image in images %}
            <div class="project-album-image">
                <img src="{{ image|url }}" alt="{{ image.legend }}">
            </div>
        {% endfor %}
        </div>
    </section>-->
{% endblock %}
