{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block cover %}
{% for project in this.pagination.items %}
{% set images = project.attachments.images %}
    {% for image in images.limit(1) %}
    <header class="cover" style="background-image: url({{ image|url }});">
    {% endfor %}
        {% include "partials/navigation.html" %}
        <div class="first-project">
            <a href="{{ project|url }}"><h2>{{ project.title }}</h2></a>
            {{ project.excerpt }}
            <p class="first-project-meta">
                <span><b>Publi&eacute; le</b> {{ project.pub_date }}</span>
                {% if project.tags %}
                /
                <span class="tag">{{ project.tags }}</span>
                {% endif %}
            </p>
            <div>
                <a href="{{ project|url }}" class="cover-button" role="button">Voir <i class="fa fa-angle-right fa-lg"></i></a>
            </div>
        </div>
    </header>
{% endfor %}
{% endblock %}

{% block body %}
    <section class="all_listings-wrapper">
        {% from "macros/projets.html" import render_projects %}
        {% for project in this.pagination.items.offset(1).order_by('-pub_date') %}
            {{ render_projects(project, from_index=true) }}
        {% endfor %}
    </section>
{% endblock %}
